.lead__figure {
    margin-top: 78px;
}

@media screen and (max-width: 1025px){
    .lead__figure {
        margin-top: 65px;
    }
}

@media screen and (max-width: 769px){
    .lead__figure {
        margin-top: 78px;
    }
}

@media screen and (max-width: 376px){
    .lead__figure {
        margin-top: 31px;
    }
}

@media screen and (max-width: 321px){
    .lead__figure {
        margin-top: 32px;
    }
}