.video__duration {
    position: absolute;
    bottom: 146px;
    left: 30px;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;  
    z-index: 3;
}

@media screen and (max-width: 950px){
    .video__duration {
        bottom: 106px;
        font-size: 12px;
        line-height: 13px;
        left: 24px;
    }
}